<div class="custom-font-family bg-custom-purple container-fluid min-vh-100 pt-1">
	<div class="bg-dark-light text-white vh-100">
		<div class="ms-1 me-1 p-3 border-bottom border-dark">
			<%= render partial: "shared/menu"%>
		</div>
	    <div class="ms-1 me-1 p-3">
	    	<a href="/admin/administration/new">Nuevo admin</a><br>
	    	<a href="/admin/administration/edit">Editar admin</a>
	    </div>
	</div>
</div>